.container{
    padding-top: 30px;
}

.iconholder{
    text-align: center;
   
}
.icon{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 42px;
    cursor: pointer;
}

.icon:hover{
    opacity: 0.1;
}